.logo {
	width: 150%;
  padding-top: 70%;
}

.hero {
	width: 100%;
	position: relative;
	background-size: cover;
}

.content {
	position: relative;
	z-index: 4;
	width: 500px;
	left: 12vw;
	top: 2vw;
}

.overlay {
	height: 100%;
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
}

